@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script src="~/js/index.js"></script>
}
<div id="MainContainerDiv">
</div>

<form id="UserInputForm" name="UserInputForm">
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="User">User</label>
                </td>
                <td>
                    <input type="text" id="User" name="User" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                </td>
                <td>
                    <input type="password" id="Password" name="Password" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button>Register</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<div id="DialogBox">
    Are you sure you want to create the user?
</div>